<div class="container">
  <h1>User Query</h1>
  <table class="table table-hover">
    <caption></caption>
    <thead id="head1">
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile NO</th>
        <th scope="col">Query</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of object">
        <th scope="col">{{ obj.firstname }}</th>
        <th scope="col">{{ obj.lastname }}</th>
        <th scope="col">{{ obj.email }}</th>
        <th scope="col">{{ obj.mobileno }}</th>
        <th scope="col">{{ obj.query }}</th>
        <td>
          <button class="btn btn-primary" (click)="erase(obj._id, obj._rev)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="back">
  <button class="btn btn-primary" routerLink="/dashboard">Back</button>
</div>
