<section>
  <div class="container1">
    <h1>User Dashboard</h1>
    <div class="cards">
      <div class="card one">
        <div class="details">
          <div class="content">
            <h2>Employee-details</h2>
            <p>Hit to see the Your details....</p>
            <a href="userdb" class="button">View</a>
          </div>
        </div>
      </div>
      <div class="card two">
        <div class="details">
          <div class="content">
            <h2>Salary-details</h2>
            <p>Click to see salary details...</p>
            <a href="salary" class="button">View</a>
          </div>
        </div>
      </div>
      <div class="card three">
        <div class="details">
          <div class="content">
            <h2>Apply-leave</h2>
            <p>Click to apply leave...</p>
            <a href="apply" class="button">Apply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="back">
    <button class="btn btn-primary" id="btn" routerLink="/splasher">
      Back
    </button>
  </div>
</section>
