<div class="manager">
  <main>
    <section class="order-center-container">
      <header>
        <div class="order-header-image"></div>
        <div class="order-title-container">
          <h1>Web Designing</h1>
          <p>
            Design and simplicity and website builder. Easily create,and promote
            a stunning website'.
          </p>
        </div>
      </header>

      <div class="order-pricing-container">
        <div class="music-img"></div>
        <div>
          <p class="order-annual-plan">Annualy</p>
          <p>$5L/year</p>
        </div>
        <div><a class="btn-change" href="employee">Shortlist</a></div>
      </div>
      <button
        class="btn-payment"
        routerLink="/apply"
        routerLinkActive="active-link"
      >
        Click to Proceed
      </button>
      <button
        class="btn-cancel"
        routerLink="/splasher"
        routerLinkActive="active-link"
      >
        Click to go back
      </button>
    </section>
  </main>
  <main>
    <section class="order-center-container">
      <header>
        <div class="order-header-image"></div>
        <div class="order-title-container">
          <h1>Fullstack</h1>
          <p>
            A designer involved at every stage of the user design process and to
            implementation.
          </p>
        </div>
      </header>

      <div class="order-pricing-container">
        <div class="music-img"></div>
        <div>
          <p class="order-annual-plan">Annualy</p>
          <p>$10L/year</p>
        </div>
        <div><a class="btn-change" href="employee">Shortlist</a></div>
      </div>
      <button
        class="btn-payment"
        routerLink="/apply"
        routerLinkActive="active-link"
      >
        Click to Proceed
      </button>
      <button
        class="btn-cancel"
        routerLink="/splasher"
        routerLinkActive="active-link"
      >
        Click to go back
      </button>
    </section>
  </main>
  <main>
    <section class="order-center-container">
      <header>
        <div class="order-header-image"></div>
        <div class="order-title-container">
          <h1>UI/UX Desiner</h1>
          <p>
            Build an impressive design portfolio with effective and compelling
            designs!!
          </p>
        </div>
      </header>

      <div class="order-pricing-container">
        <div class="music-img"></div>
        <div>
          <p class="order-annual-plan">Annualy</p>
          <p>$7L/year</p>
        </div>
        <div><a class="btn-change" href="employee">Shortlist</a></div>
      </div>
      <button
        class="btn-payment"
        routerLink="/apply"
        routerLinkActive="active-link"
      >
        Click to Proceed
      </button>
      <button
        class="btn-cancel"
        routerLink="/splasher"
        routerLinkActive="active-link"
      >
        Click to go back
      </button>
    </section>
  </main>
  <main>
    <section class="order-center-container">
      <header>
        <div class="order-header-image"></div>
        <div class="order-title-container">
          <h1>HR department</h1>
          <p>
            Managing the employee life cycle ( recruiting, hiring, training, and
            firing employees)
          </p>
        </div>
      </header>

      <div class="order-pricing-container">
        <div class="music-img"></div>
        <div>
          <p class="order-annual-plan">Annualy</p>
          <p>$7L/year</p>
        </div>
        <div><a class="btn-change" href="employee">Shortlist</a></div>
      </div>
      <button
        class="btn-payment"
        routerLink="/apply"
        routerLinkActive="active-link"
      >
        Click to Proceed
      </button>
      <button
        class="btn-cancel"
        routerLink="/splasher"
        routerLinkActive="active-link"
      >
        Click to go back
      </button>
    </section>
  </main>
  <main>
    <section class="order-center-container">
      <header>
        <div class="order-header-image"></div>
        <div class="order-title-container">
          <h1>Cloud</h1>
          <p>
            A public cloud sells services to anybody who has access to the
            internet.
          </p>
        </div>
      </header>

      <div class="order-pricing-container">
        <div class="music-img"></div>
        <div>
          <p class="order-annual-plan">Annualy</p>
          <p>$8L/year</p>
        </div>
        <div><a class="btn-change" href="employee">Shortlist</a></div>
      </div>
      <button
        class="btn-payment"
        routerLink="/apply"
        routerLinkActive="active-link"
      >
        Click to Proceed
      </button>
      <button
        class="btn-cancel"
        routerLink="/splasher"
        routerLinkActive="active-link"
      >
        Click to go back
      </button>
    </section>
  </main>
  <main>
    <section class="order-center-container">
      <header>
        <div class="order-header-image"></div>
        <div class="order-title-container">
          <h1>Product</h1>
          <p>Build their own product and launching it globly for users</p>
        </div>
      </header>

      <div class="order-pricing-container">
        <div class="music-img"></div>
        <div>
          <p class="order-annual-plan">Annualy</p>
          <p>$10L/year</p>
        </div>
        <div><a class="btn-change" href="employee">Shortlist</a></div>
      </div>
      <button
        class="btn-payment"
        routerLink="/apply"
        routerLinkActive="active-link"
      >
        Click to Proceed
      </button>
      <button
        class="btn-cancel"
        routerLink="/splasher"
        routerLinkActive="active-link"
      >
        Click to go back
      </button>
    </section>
  </main>
</div>
