<nav class="navbar navbar-expand-lg bg-dark" id="head">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Employee Salary details</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      obj
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button
        class="btn btn-outline-success"
        data-bs-toggle="modal"
        id="button1"
        data-bs-target="#addform"
        type="submit"
      >
        Add employee
      </button>
      <button
        class="btn btn-outline-success"
        id="button1"
        data-bs-toggle="modal"
        (click)="getSalary()"
      >
        Empsalary-list
      </button>
      <input
        class="input1"
        type="submit"
        value="Logout"
        routerLink="/dashboard"
        routerLinkActive="active"
      />
    </div>
  </div>
</nav>
<div class="container">
  <h1>Newly Added</h1>
  <table class="table table-hover">
    <caption></caption>
    <thead id="head1">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Date of joining</th>
        <th scope="col">Month</th>
        <th scope="col">leave Days</th>
        <th scope="col">Salary</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of object">
        <th scope="col">{{ obj.userid }}</th>
        <th scope="col">{{ obj.name }}</th>
        <th scope="col">{{ obj.doj }}</th>
        <th scope="col">{{ obj.month }}</th>
        <th scope="col">{{ obj.leave }}</th>
        <th scope="col">{{ obj.salary }}</th>
        <td>
          <button
            type="button"
            class="btn btn-outline-primary me-2"
            data-bs-toggle="modal"
            data-bs-target="#onEdit"
            (click)="onEdit(obj)"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-target="#delete"
            (click)="delete(obj)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Add Salary -->
  <div
    class="modal fade"
    id="addform"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Salary</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addform">
            <div class="mb-3">
              <label for="userid" class="form-label">Id </label>
              <input
                type="number"
                class="form-control"
                formControlName="userid"
                id="userid"
                aria-describedby="emailHelp"
                required
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['userid'].touched &&
                  addform.hasError('required', 'userid')
                "
                >* ID required!!</span
              >
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Name </label>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                id="name"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['name'].touched &&
                  addform.hasError('required', 'name')
                "
                >* Name required!!</span
              >
            </div>
            <div class="mb-3">
              <label for="doj" class="form-label">Date of joining</label>
              <input
                type="date"
                class="form-control"
                formControlName="doj"
                id="doj"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['doj'].touched &&
                  addform.hasError('required', 'doj')
                "
                >* DOJ required!!</span
              >
            </div>
            <div class="mb-3">
              <label for="month" class="form-label">Month </label>
              <input
                type="text"
                class="form-control"
                formControlName="month"
                id="month"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['month'].touched &&
                  addform.hasError('required', 'month')
                "
                >* Month required!!</span
              >
            </div>
            <div class="mb-3">
              <label for="leave" class="form-label">Leave days </label>
              <input
                type="text"
                class="form-control"
                formControlName="leave"
                id="leave"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['leave'].touched &&
                  addform.hasError('required', 'leave')
                "
                >* Leave days required!!</span
              >
            </div>
            <div class="mb-3">
              <label for="salary" class="form-label">Salary </label>
              <input
                type="text"
                class="form-control"
                formControlName="salary"
                id="salary"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['salary'].touched &&
                  addform.hasError('required', 'salary')
                "
                >* Leave days required!!</span
              >
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="addSalary(this.addform.value)"
              >
                Add Employee
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="onEdit"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Edit Salary details
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addform">
            <div class="mb-3">
              <label for="userid" class="form-label">ID </label>
              <input
                type="number"
                class="form-control"
                formControlName="userid"
                id="userid"
                aria-describedby="emailHelp"
                required
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['userid'].touched &&
                  addform.hasError('required', 'userid')
                "
                >* ID required!!</span
              >
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Name </label>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                id="name"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['name'].touched &&
                  addform.hasError('required', 'name')
                "
                >* Name required!!</span
              >
            </div>
            <div class="mb-3">
              <label for="doj" class="form-label">Date of joining</label>
              <input
                type="date"
                class="form-control"
                formControlName="doj"
                id="doj"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['doj'].touched &&
                  addform.hasError('required', 'doj')
                "
                >* DOJ required!!</span
              >
            </div>
            <div class="mb-3">
              <label for="month" class="form-label">Month </label>
              <input
                type="text"
                class="form-control"
                formControlName="month"
                id="month"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['month'].touched &&
                  addform.hasError('required', 'month')
                "
                >* Month required!!</span
              >
            </div>
            <div class="mb-3">
              <label for="leave" class="form-label">Leave days </label>
              <input
                type="text"
                class="form-control"
                formControlName="leave"
                id="leave"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['leave'].touched &&
                  addform.hasError('required', 'leave')
                "
                >* Leave days required!!</span
              >
            </div>
            <div class="mb-3">
              <label for="salary" class="form-label">Salary </label>
              <input
                type="text"
                class="form-control"
                formControlName="salary"
                id="salary"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['salary'].touched &&
                  addform.hasError('required', 'salary')
                "
                >* Leave days required!!</span
              >
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#update"
                (click)="update(this.addform.value)"
              >
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
