<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Employee Portal</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      row
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button
        class="btn btn-outline-success"
        data-bs-toggle="modal"
        data-bs-target="#addform"
        type="submit"
      >
        Add employee
      </button>
    </div>
  </div>
</nav>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email ID</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Mobile No</th>
        <th scope="col">Blood Group</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of store">
        <th>{{ row.id }}</th>
        <th>{{ row.username }}</th>
        <th>{{ row.email }}</th>
        <th>{{ row.dob }}</th>
        <th>{{ row.mobileno }}</th>
        <th>{{ row.bloodgroup }}</th>
        <!-- <th>{{ row._id }}</th>
        <th>{{ row._rev }}</th> -->
        <td>
          <button
            type="button"
            class="btn btn-outline-primary me-2"
            data-bs-toggle="modal"
            data-bs-target="#onEdit"
            (click)="onEdit(row)"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-target="#delete"
            (click)="delete(row)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button type="button" (click)="getuser()">get</button>
  </div>

  <!-- Add Employee -->
  <div
    class="modal fade"
    id="addform"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new employee</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addform">
            <div class="mb-3">
              <label for="id" class="form-label">ID </label>
              <input
                type="number"
                class="form-control"
                formControlName="id"
                id="id"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Name </label>
              <input
                type="text"
                class="form-control"
                formControlName="username"
                id="username"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email </label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                id="email"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="dob" class="form-label">Date of Birth</label>
              <input
                type="date"
                class="form-control"
                formControlName="dob"
                id="dob"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="mobileno" class="form-label">Mobile No </label>
              <input
                type="number"
                class="form-control"
                formControlName="mobileno"
                id="mobileno"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="bloodgroup" class="form-label">Blood Group </label>
              <input
                type="text"
                class="form-control"
                formControlName="bloodgroup"
                id="bloodgroup"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="addEmployee(this.addform.value)"
              >
                Add Employee
              </button>
              <!-- <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#addform"
                (click)="update(this.addform.value)"
              >
                Edit employee
              </button> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="onEdit"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Edit employee details
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addform">
            <div class="mb-3">
              <label for="id" class="form-label">ID </label>
              <input
                type="number"
                class="form-control"
                formControlName="id"
                id="id"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Name </label>
              <input
                type="text"
                class="form-control"
                formControlName="username"
                id="username"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email </label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                id="email"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="dob" class="form-label">Date of Birth</label>
              <input
                type="date"
                class="form-control"
                formControlName="dob"
                id="dob"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="mobileno" class="form-label">Mobile No </label>
              <input
                type="number"
                class="form-control"
                formControlName="mobileno"
                id="mobileno"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="bloodgroup" class="form-label">Blood Group </label>
              <input
                type="text"
                class="form-control"
                formControlName="bloodgroup"
                id="bloodgroup"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#update"
                (click)="update(this.addform.value)"
              >
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
