<nav class="navbar navbar-expand-lg bg-dark" id="head">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Employee Portal</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      row
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button
        class="btn btn-outline-success"
        data-bs-toggle="modal"
        id="button1"
        data-bs-target="#addform"
        type="submit"
      >
        Add employee
      </button>
      <button
        class="btn btn-outline-success"
        id="button1"
        data-bs-toggle="modal"
        routerLink="/query"
        routerLinkActive="active-link"
      >
        Query
      </button>
      <button
        class="btn btn-outline-success"
        id="button1"
        data-bs-toggle="modal"
        (click)="getuser()"
      >
        Getdata
      </button>
      <button
        class="btn btn-outline-success"
        id="button1"
        data-bs-toggle="modal"
        routerLink="/applied"
        routerLinkActive="active-link"
      >
        Applied
      </button>
      <input
        class="input1"
        type="submit"
        value="Logout"
        routerLink="/splasher"
        routerLinkActive="active"
      />
    </div>
  </div>
</nav>
<div class="container">
  <table class="table table-hover">
    <caption></caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email ID</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Mobile No</th>
        <th scope="col">Blood Group</th>
        <th scope="col">User login Id</th>
        <th scope="col">userPassword</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of store">
        <th scope="col">{{ row.id }}</th>
        <th scope="col">{{ row.username }}</th>
        <th scope="col">{{ row.email }}</th>
        <th scope="col">{{ row.dob }}</th>
        <th scope="col">{{ row.mobileno }}</th>
        <th scope="col">{{ row.bloodgroup }}</th>
        <th scope="col">{{ row.userlogin }}</th>
        <th scope="col">{{ row.userpassword }}</th>
        <td>
          <button
            type="button"
            class="btn btn-outline-primary me-2"
            data-bs-toggle="modal"
            data-bs-target="#onEdit"
            (click)="onEdit(row)"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-target="#delete"
            (click)="delete(row)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div></div>

  <!-- Add Employee -->
  <div
    class="modal fade"
    id="addform"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new employee</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addform">
            <div class="mb-3">
              <label for="id" class="form-label">ID </label>
              <input
                type="number"
                class="form-control"
                formControlName="id"
                id="id"
                aria-describedby="emailHelp"
                required
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['id'].touched &&
                  addform.hasError('required', 'id')
                "
                >* ID required!!</span
              >
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Name </label>
              <input
                type="text"
                class="form-control"
                formControlName="username"
                id="username"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['username'].touched &&
                  addform.hasError('required', 'username')
                "
                >* Name required!!</span
              >
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email </label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                id="email"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls.email.errors &&
                  addform.controls.email.touched
                "
              >
                <br />Invalid Email Address
              </span>
            </div>
            <div class="mb-3">
              <label for="dob" class="form-label">Date of Birth</label>
              <input
                type="date"
                class="form-control"
                formControlName="dob"
                id="dob"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['dob'].touched &&
                  addform.hasError('required', 'dob')
                "
                >* DOB required!!</span
              >
            </div>
            <div class="mb-3">
              <label for="mobileno" class="form-label">Mobile No </label>
              <input
                type="number"
                class="form-control"
                formControlName="mobileno"
                id="mobileno"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['mobileno'].touched &&
                  addform.hasError('required', 'mobileno')
                "
                >* Mobile no required!!</span
              >
            </div>
            <div class="mb-3">
              <label for="bloodgroup" class="form-label">Blood Group </label>
              <input
                type="text"
                class="form-control"
                formControlName="bloodgroup"
                id="bloodgroup"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['bloodgroup'].touched &&
                  addform.hasError('required', 'bloodgroup')
                "
                >* Blood group required!!</span
              >
            </div>
            <div class="mb-3">
              <label for="userlogin" class="form-label">User-login Id </label>
              <input
                type="text"
                class="form-control"
                formControlName="userlogin"
                id="userlogin"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['userlogin'].touched &&
                  addform.hasError('required', 'userlogin')
                "
                >* required!!</span
              >
            </div>

            <div class="mb-3">
              <label for="userpassword" class="form-label">userPassword </label>
              <input
                type="text"
                class="form-control"
                formControlName="userpassword"
                id="userpassword"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  addform.controls['userpassword'].touched &&
                  addform.hasError('required', 'userpassword')
                "
                >* required!!</span
              >
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="addEmployee(this.addform.value)"
              >
                Add Employee
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="onEdit"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Edit employee details
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addform">
            <div class="mb-3">
              <label for="id" class="form-label">ID </label>
              <input
                type="number"
                class="form-control"
                formControlName="id"
                id="id"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Name </label>
              <input
                type="text"
                class="form-control"
                formControlName="username"
                id="username"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email </label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                id="email"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="dob" class="form-label">Date of Birth</label>
              <input
                type="date"
                class="form-control"
                formControlName="dob"
                id="dob"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="mobileno" class="form-label">Mobile No </label>
              <input
                type="number"
                class="form-control"
                formControlName="mobileno"
                id="mobileno"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="bloodgroup" class="form-label">Blood Group </label>
              <input
                type="text"
                class="form-control"
                formControlName="bloodgroup"
                id="bloodgroup"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="userlogin" class="form-label">User-login Id </label>
              <input
                type="text"
                class="form-control"
                formControlName="userlogin"
                id="userlogin"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="userpassword" class="form-label">userPassword </label>
              <input
                type="text"
                class="form-control"
                formControlName="userpassword"
                id="userpassword"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#update"
                (click)="update(this.addform.value)"
              >
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
