<app-home></app-home>
<section>
  <div class="container">
    <div class="about-section">
      <div class="inner-container">
        <h1>ABOUT US</h1>
        <p class="text">
          We Software provides an HR Service Delivery Experience that includes
          HR Case Management, Employee Portal, HR Knowledge Management and
          Reporting & Analytics that enables HR to achieve excellence in HR
          Service Delivery and meets the needs of a modern HR team. These needs
          include enhancing the Employee Experience and improving HR Experience
          of delivering HR services. Founded in 1996 as a CRM (Customer
          Relationship Management) company based in Austin, Texas, Dovetail
          Software started life focusing on the Customer Service and Support
          market offering and implementing products to large scale enterprise
          organizations. In 2008 we shifted focus and created products for
          global workforces, specifically HR Service Delivery, with our current
          product lineup - Employee Portal, HR Case Management , HR Knowledge
          Management and Reporting & Analytics.
        </p>
      </div>
    </div>
  </div>
</section>
