<section>
  <div class="container">
    <div class="about-section">
      <div class="inner-container">
        <h1>ABOUT US</h1>
        <p class="text">
          An Employee Portal, sometimes known as an HR Portal, is an online
          employee engagement platform that puts a range of HR services at the
          employee’s fingertips. From providing employees with access to helpful
          HR content and self-service functionality that answers their
          questions, to Live Chat and case tracking, an Employee Portal enhances
          the employee service experience, which increases employee satisfaction
          and engagement levels. It is also a communications and change
          management tool, enabling HR to effectively engage with their
          employees and support the management of change and development within
          the organization. Additional benefits include increased workforce
          productivity and greater efficiency of HR operations.
        </p>
        <!-- <div class="skill">
          <span>our story</span>
          <span> sanjeev</span>
          <span>sham</span>
        </div> -->
      </div>
    </div>
  </div>
</section>
