<section class="container">
  <form [formGroup]="addform">
    <div class="mb-3">
      <label for="firstname" class="head">First Name </label>
      <div class="inputbox">
        <input
          type="text"
          class="form-control"
          formControlName="firstname"
          id="firstname"
          aria-describedby="emailHelp"
          required
        />
      </div>
      <span
        class="text-danger"
        *ngIf="
          addform.controls['firstname'].touched &&
          addform.hasError('required', 'firstname')
        "
        >* Name required!!</span
      >
    </div>
    <div class="mb-3">
      <label for="lastname" class="head">Last Name </label>
      <div class="inputbox">
        <input
          type="text"
          class="form-control"
          formControlName="lastname"
          id="lastname"
          aria-describedby="emailHelp"
        />
      </div>
      <span
        class="text-danger"
        *ngIf="
          addform.controls['lastname'].touched &&
          addform.hasError('required', 'lastname')
        "
        >* Last Name required!!</span
      >
    </div>
    <div class="mb-3">
      <label for="email" class="head">Email </label>
      <div class="inputbox">
        <input
          type="text"
          class="form-control"
          formControlName="email"
          id="email"
          aria-describedby="emailHelp"
        />
      </div>
      <span
        class="text-danger"
        *ngIf="addform.controls.email.errors && addform.controls.email.touched"
      >
        <br />Invalid Email Address
      </span>
    </div>
    <div class="mb-3">
      <label for="dob" class="head">Date of Birth</label>
      <div class="inputbox">
        <input
          type="date"
          class="form-control"
          formControlName="dob"
          id="dob"
          aria-describedby="emailHelp"
        />
      </div>
      <span
        class="text-danger"
        *ngIf="
          addform.controls['dob'].touched && addform.hasError('required', 'dob')
        "
        >* DOB required!!</span
      >
    </div>
    <div class="mb-3">
      <label for="mobileno" class="head">Mobile No </label>
      <div class="inputbox">
        <input
          type="number"
          class="form-control"
          formControlName="mobileno"
          id="mobileno"
          aria-describedby="emailHelp"
        />
      </div>
      <span
        class="text-danger"
        *ngIf="
          addform.controls['mobileno'].touched &&
          addform.hasError('required', 'mobileno')
        "
        >* Mobile no required!!</span
      >
    </div>
    <div class="mb-3">
      <label for="qualification" class="head">Qualification </label>
      <div class="inputbox">
        <input
          type="text"
          class="form-control"
          formControlName="qualification"
          id="qualification"
          aria-describedby="emailHelp"
        />
      </div>
      <span
        class="text-danger"
        *ngIf="
          addform.controls['qualification'].touched &&
          addform.hasError('required', 'qualification')
        "
        >* Qualification required!!</span
      >
    </div>
    <div class="mb-3">
      <label for="age" class="head">Age </label>
      <div class="inputbox">
        <input
          type="text"
          class="form-control"
          formControlName="age"
          id="age"
          aria-describedby="emailHelp"
        />
      </div>
      <span
        class="text-danger"
        *ngIf="
          addform.controls['age'].touched && addform.hasError('required', 'age')
        "
        >* Qualification required!!</span
      >
    </div>
    <div class="row100">
      <div class="col">
        <input
          type="submit"
          value="Het me"
          (click)="addUser(this.addform.value)"
        />
      </div>
      <!-- <button
        type="button"  [disabled]="!apply.valid"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#addform"
        (click)="update(this.addform.value)"
      >
        Edit employee
      </button> -->
    </div>
  </form>
</section>
