<h1>Apply Leave</h1>
<section class="container">
  <form [formGroup]="addform">
    <div class="mb-3">
      <label for="empid" class="head">Employee-ID</label>
      <div class="inputbox">
        <input
          type="text"
          class="form-control"
          formControlName="empid"
          id="empid"
          aria-describedby="emailHelp"
          required
        />
      </div>
      <span
        class="text-danger"
        *ngIf="
          addform.controls['empid'].touched &&
          addform.hasError('required', 'empid')
        "
        >* Name required!!</span
      >
    </div>
    <div class="mb-3">
      <label for="firstname" class="head"> Name </label>
      <div class="inputbox">
        <input
          type="text"
          class="form-control"
          formControlName="firstname"
          id="firstname"
          aria-describedby="emailHelp"
          required
        />
      </div>
      <span
        class="text-danger"
        *ngIf="
          addform.controls['firstname'].touched &&
          addform.hasError('required', 'firstname')
        "
        >* Name required!!</span
      >
    </div>
    <div class="mb-3">
      <label for="email" class="head">Email </label>
      <div class="inputbox">
        <input
          type="text"
          class="form-control"
          formControlName="email"
          id="email"
          aria-describedby="emailHelp"
        />
      </div>
      <span
        class="text-danger"
        *ngIf="addform.controls.email.errors && addform.controls.email.touched"
      >
        <br />Invalid Email Address
      </span>
    </div>
    <div class="mb-3">
      <label for="fromdate" class="head">From-date</label>
      <div class="inputbox">
        <input
          type="date"
          class="form-control"
          formControlName="fromdate"
          #firstdate
          (change)="checkFirstdate($event)"
          (change)="checkAppointmentdate($event)"
          min="{{ currentDate | date: 'yyyy-MM-dd' }}"
          id="fromdate"
          aria-describedby="emailHelp"
        />
      </div>
      <span
        class="text-danger"
        *ngIf="
          addform.controls['fromdate'].touched &&
          addform.hasError('required', 'fromdate')
        "
        >* Fromdate required!!</span
      >
    </div>
    <div class="mb-3">
      <label for="todate" class="head">To-date</label>
      <div class="inputbox">
        <input
          type="date"
          class="form-control"
          formControlName="todate"
          #seconddate
          (change)="calculatedate($event)"
          (change)="checkAppointmentdate($event)"
          min="{{ currentDate | date: 'yyyy-MM-dd' }}"
          id="todate"
          aria-describedby="emailHelp"
        />
      </div>
      <span
        class="text-danger"
        *ngIf="
          addform.controls['todate'].touched &&
          addform.hasError('required', 'todate')
        "
        >* Todate required!!</span
      >
    </div>
    <div class="mb-3">
      <label for="days" class="head">No of days</label>
      <div class="inputbox">
        <input
          type="text"
          class="form-control"
          formControlName="days"
          id="days"
          aria-describedby="emailHelp"
        />
      </div>
      <span
        class="text-danger"
        *ngIf="
          addform.controls['days'].touched &&
          addform.hasError('required', 'days')
        "
        >*No of days required!!</span
      >
    </div>

    <div class="mb-3">
      <label for="mobileno" class="head">Contact-number</label>
      <div class="inputbox">
        <input
          type="text"
          class="form-control"
          formControlName="mobileno"
          id="mobileno"
          aria-describedby="emailHelp"
        />
      </div>
      <span
        class="text-danger"
        *ngIf="
          addform.controls['mobileno'].touched &&
          addform.hasError('required', 'mobileno')
        "
        >* Mobile no required!!</span
      >
    </div>
    <label for="leavetype" class="form-label"> Leave type </label>
    <select formControlName="leavetype">
      <option disabled selected>Leave type</option>
      <option value="Annual leave">Annual leave</option>
      <option value="LOP">LOP</option>
      <option value="Sick leave">Sick leave</option>
    </select>
    <div class="mb-3">
      <label for="reason" class="head">Reason For leave </label>
      <div class="inputbox">
        <input
          type="text"
          class="form-control"
          formControlName="reason"
          id="reason"
          aria-describedby="emailHelp"
        />
      </div>
      <span
        class="text-danger"
        *ngIf="
          addform.controls['reason'].touched &&
          addform.hasError('required', 'reason')
        "
        >* Reason required!!</span
      >
    </div>
    <div class="row100">
      <div class="col">
        <input
          type="submit"
          value="Apply"
          (click)="addUser(this.addform.value)"
          [disabled]="!addform.valid"
          routerLink="/userprofile"
        />
      </div>
    </div>
  </form>
</section>
