<div class="container">
  <h1>Leave details</h1>
  <button class="btn btn-primary" id="approve" routerLink="/approved">
    approved
  </button>
  <table class="table table-hover">
    <caption></caption>
    <thead id="head1">
      <tr>
        <th scope="col">Employee-ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">From-date</th>
        <th scope="col">To-date</th>
        <th scope="col">No of days</th>
        <th scope="col">ContactNumber</th>
        <th scope="col">Leave type</th>
        <th scope="col">Reason For leave</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of object">
        <th scope="col">{{ obj.empid }}</th>
        <th scope="col">{{ obj.firstname }}</th>
        <th scope="col">{{ obj.email }}</th>
        <th scope="col">{{ obj.fromdate }}</th>
        <th scope="col">{{ obj.todate }}</th>
        <th scope="col">{{ obj.days }}</th>
        <th scope="col">{{ obj.mobileno }}</th>
        <th scope="col">{{ obj.leavetype }}</th>
        <th scope="col">{{ obj.reason }}</th>
        <td>
          <button
            [disabled]="disable"
            class="btn btn-success"
            (click)="approve(obj, obj)"
          >
            Approve</button
          ><br />
          <button class="btn btn-danger" id="delete" (click)="delete(obj, obj)">
            Reject
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="back">
    <button class="btn btn-primary" routerLink="/dashboard">Back</button>
  </div>
</div>
