<div class="container">
  <table class="table table-hover">
    <caption></caption>
    <thead>
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile NO</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Qualification</th>
        <th scope="col">Age</th>
        <th scope="col">Archivements</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of store">
        <th scope="col">{{ row.firstname }}</th>
        <th scope="col">{{ row.lastname }}</th>
        <th scope="col">{{ row.email }}</th>
        <th scope="col">{{ row.mobileno }}</th>
        <th scope="col">{{ row.dob }}</th>
        <th scope="col">{{ row.qualification }}</th>
        <th scope="col">{{ row.age }}</th>
        <th scope="col">{{ row.archive }}</th>
        <td>
          <button class="btn btn-primary" (click)="erase(row._id, row._rev)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
