<section>
  <div class="container">
    <div class="sidebar">
      <ul>
        <li>
          <a href="#">
            <i></i>
            <div class="title">Employee-portal</div>
          </a>
        </li>
        <li>
          <a href="splasher">
            <i class="fas fa-th-large"></i>
            <div class="title">Dashboard</div>
          </a>
        </li>

        <li>
          <a href="adminlogin">
            <i class="fa-solid fa-download fa-fw"></i>
            <div class="title">Admin</div>
          </a>
        </li>
        <li>
          <a href="#">
            <i
              class="fa-solid fa-envelope fa-bounce"
              style="
                --fa-bounce-start-scale-x: 1;
                --fa-bounce-start-scale-y: 1;
                --fa-bounce-jump-scale-x: 1;
                --fa-bounce-jump-scale-y: 1;
                --fa-bounce-land-scale-x: 1;
                --fa-bounce-land-scale-y: 1;
                --fa-bounce-rebound: 0;
              "
            ></i>
            <div class="title">User</div>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="fa-solid fa-lock fa-shake"></i>
            <div class="title">Department</div>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-hand-holding-usd"></i>
            <div class="title">Salary</div>
          </a>
        </li>
        <li>
          <a href="home">
            <i class="fas fa-cog"></i>
            <div class="title">Logout</div>
          </a>
        </li>
      </ul>
    </div>
    <div class="top">
      <div class="top-bar">
        <div class="search">
          <input type="text" name="search" placeholder="search here" />
          <label for="search"><i class="fas fa-search"></i></label>
        </div>
        <i class="fas fa ball"></i>
        <div class="logo">
          <img src="../../assets/logo.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
