<section>
  <div class="container">
    <div class="sidebar">
      <ul>
        <li>
          <a href="#">
            <i></i>
            <div class="title">Employee-portal</div>
          </a>
        </li>
        <li>
          <a href="splasher">
            <i class="fas fa-th-large"></i>
            <div class="title">Dashboard</div>
          </a>
        </li>

        <li>
          <a href="adminlogin">
            <i class="fa-solid fa-address-card"></i>
            <div class="title">Admin</div>
          </a>
        </li>
        <li>
          <a href="apply">
            <i class="fa-solid fa-laptop-file"></i>
            <div class="title">Apply here</div>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="fa-solid fa-lock fa-shake"></i>
            <div class="title">Department</div>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-user-graduate"></i>
            <div class="title">Employement</div>
          </a>
        </li>
      </ul>
    </div>
    <div class="top">
      <div class="top-bar">
        <div class="search">
          <input type="text" name="search" placeholder="search here" />
          <label for="search"><i class="fas fa-search"></i></label>
        </div>
        <i class="fas fa ball"></i>
        <div class="logo">
          <img src="../../assets/logo.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
