<app-home></app-home>
<section>
  <div class="container1">
    <h1>Dashboard</h1>
    <div class="cards">
      <div class="card one">
        <div class="details">
          <div class="content">
            <h2>Admin</h2>
            <p>Hit to see the employee details....</p>
            <a href="adminlogin" class="button">Login</a>
          </div>
        </div>
      </div>
      <div class="card two">
        <div class="details">
          <div class="content">
            <h2>User</h2>
            <p>Hit to see the user information...</p>
            <a href="userlogin" class="button">Login</a>
          </div>
        </div>
      </div>
      <div class="card three">
        <div class="details">
          <div class="content">
            <h2>Query</h2>
            <p>Contact our admin by clicking below...</p>
            <a href="contactus" class="button">Click</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
