/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
} */
section {
  overflow-x: hidden;
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.container {
  position: relative;
  width: 100%;
}
.sidebar {
  position: fixed;
  width: 300px;
  height: 85%;
  margin-left: -8%;
  border-radius: 20px;
  background: transparent;
  overflow-x: hidden;
  box-shadow: 0 5px 10px 0 rgb(8, 212, 248);
  z-index: 2;
  margin-top: -5%;
}
.sidebar ul li {
  width: 100%;
  list-style: none;
}
.sidebar ul li :hover {
  color: lightgray;
}
.sidebar ul li :first-child:hover {
  background: none;
}
/* .sidebar ul li :first-child {
  line-height: 60px;
  margin-bottom: 20px;
  font-weight: 600;
  border-bottom: 1px solid silver;
} */
.sidebar ul li a {
  width: 100%;
  text-decoration: none;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
}
.sidebar ul li a i {
  min-width: 60px;
  font-size: 24px;
  text-align: center;
}
.sidebar.title {
  padding: 0 10px;
  font-size: 20;
  align-items: center;
}
.sidebar ul li a:hover {
  color: rgb(107, 196, 226);
}
/* .user {
  position: relative;
  width: 50px;
  height: 50px;
} */
img {
  position: absolute;
  width: 5%;
  height: 5%;
  top: 15px;
  left: 100%;
  object-fit: cover;
}
input {
  width: 40%;
  margin-left: 25%;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  background: transparent;
  border: 2px solid silver;
}
/* .cards {
  margin-top: 60px;
  margin-left: 20%;
  width: 90%;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.cards .card {
  background: linear-gradient(45deg, rgb(84, 84, 228), rgb(240, 59, 59));
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}
.numbers {
  font-size: 35px;
  font-weight: 400;
  color: black;
}
.card-content {
  display: flex;
}
.card-name {
  color: white;
  font-size: 30px;
  padding: 5px;
}
.icon-box i {
  font-size: 30px;
  color: lightblue;
}
.tables {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  align-items: self-start;
  padding: 0 10px 10px 10px;
  margin-top: 20px;
  margin-left: 10%;
}
/* .img-box-small {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
} */
/* .last-emp {
  min-height: 350px;
  background: white;
  padding: 20px;
  border-radius: 20px;
  margin-left: 12%;
  background: transparent;
  border: 2px solid silver;
}
.visiting {
  margin-left: 20px;
  padding: 10px;
  margin-right: 25px;
  text-align: center;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: lightblue;
}
.btn {
  padding: 5px 10px;
  background: blue;
  text-align: center;
}
table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}
thead td {
  font-weight: 600;
  color: rgb(57, 57, 160);
}
td {
  color: white;
}
table tr {
  border-bottom: 1px solid silver;
}
table tr:hover {
  background: gray;
  color: white;
}
table tbody tr:last-child {
  border-bottom: none;
}
td {
  padding: 9px 5px;
}
td i {
  padding: 7px;
  color: white;
  border-radius: 50px;
}
.last-emp table tbody td:last-child {
  white-space: nowrwp;
}
.fa-eye {
  background: lightskyblue;
}
.fa-edit {
  background: rgb(78, 157, 206);
}
.fa-trash-alt {
  background: rgb(247, 46, 46);
}  */
h1 {
  color: #ffffff;
}

.container1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8%;
}

.card {
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  height: 25rem;
  width: 20rem;
  border-radius: 2rem;
  box-shadow: 0 0 2px #ffffff80;
}

.card.one {
  background-image: url("../../assets/project 15.jpg");
}

.card.tow {
  background-image: url("https://media.istockphoto.com/photos/business-man-pressing-emoticon-on-laptop-notebook-keyboard-customer-picture-id1328697319?b=1&k=20&m=1328697319&s=170667a&w=0&h=fbi7jXC3U6IHdaT0ONqU7X8nI-W3BMOormlq2v2820Y=");
}

.card.three {
  background-image: url("../../assets/background 2.webp");
}

.details {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff10;
  border-top: 1px solid #ffffff30;
  border-radius: 2rem;
  -webkit-backdrop-filter: blur(0.75rem);
  backdrop-filter: blur(0.75rem);
  transition: ease 0.5s;
}

.details:hover {
  padding-bottom: 5%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 1rem;
}

.content h2 {
  color: black;
  font-size: 30px;
  margin-bottom: 0.5rem;
}

.content p {
  color: #ffffffaa;
  margin-bottom: 1.5rem;
  text-align: center;
}

.content a {
  background-image: linear-gradient(
    90deg,
    #5b2fd6b2 0%,
    #e61c59 50%,
    #7dfff9ef 100%
  );
  background-size: 200%;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75rem 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 10px -3px #00000025;
  transition: 0.5s;
}

.content a:hover {
  background-position: right;
}

@media (max-width: 1090px) {
  .sidebar {
    width: 60px;
  }
}
/* @media (max-width: 860px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .tables {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 530px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .last-emp td:nth-child(3) {
    display: none;
  }
}
@media (max-width: 420px) {
  .last-emp,
  .visiting {
    font-size: 70%;
    padding: 10px;
    min-height: 200px;
  }
  .card,
  .tables {
    padding: 10px;
  }
} */
