<nav class="navbar">
  <ul>
    <li>
      <a class="nav-link" routerLink="startup" routerLinkActive="active"
        >Home</a
      >
    </li>
    <li>
      <a class="nav-link" routerLink="aboutus" routerLinkActive="active"
        >About Us</a
      >
    </li>
    <li>
      <a class="nav-link" routerLink="contactus" routerLinkActive="active"
        >Contact Us</a
      >
    </li>
    <li>
      <a class="nav-link" routerLink="userlogin" routerLinkActive="active"
        >User Login</a
      >
    </li>
    <li>
      <a class="nav-link" routerLink="adminlogin" routerLinkActive="active"
        >Admin Login</a
      >
    </li>
  </ul>
</nav>
