<nav class="navbar">
  <ul>
    <li>
      <a
        class="nav-link"
        routerLink="/startup"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        routerLink="/aboutus"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >About Us</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        routerLink="/contactus"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Contact Us</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        routerLink="/splasher"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Dashboard</a
      >
    </li>
  </ul>
</nav>
