<app-home></app-home>
<div class="head">
  <section id="home">
    <figure>
      <div class="min-fig">
        <img src="../../assets/main.png" alt="" />
      </div>
      <div>
        <h2 class="main1">Employee Management Portal</h2>
      </div>
      <div>
        <h1 class="main2">
          The power to help<br />
          themselves Grow
        </h1>
      </div>
      <div>
        <h3 class="main3">
          Empower employees with access to personal organisational information.
          Enable greater transparency, improved communication and engagement.
          The portal also enables anytime, anywhere access.
        </h3>
      </div>
    </figure>
  </section>
  <section id="brushup">
    <h1 class="heading1">What is an Employee Portal..?</h1>
    <div class="gallery1">
      <img src="../../assets/project 17.jpg" alt="pic1" />

      <p class="para">
        An Employee Portal, sometimes known as an HR Portal, is an online
        employee engagement platform that puts a range of HR services at the
        employee’s fingertips. From providing employees with access to helpful
        HR content and self-service functionality that answers their questions,
        to Live Chat and case tracking, an Employee Portal enhances the employee
        service experience, which increases employee satisfaction and engagement
        levels. It is also a communications and change management tool, enabling
        HR to effectively engage with their employees and support the management
        of change and development within the organization. Additional benefits
        include increased workforce productivity and greater efficiency of HR
        operations.
      </p>
    </div>
    <h1 class="heading1">Why is an Employee Portal important..!</h1>
    <div class="gallery1">
      <img src="../../assets/project 2.jpg" alt="pic1" />

      <p class="para">
        Successful businesses strive for long-term sustainable profits. An
        Employee Portal is a tool that HR can use to support this objective, by
        improving the employee experience, employee productivity and retaining
        staff.<br /><br /><br />
        In a Forbes article, entitled Promoting Employee Happiness Benefits
        Everyone, evidence suggests happier and more productive employees
        provide superior customer service, helping drive sales and repeat
        business faster than in organizations that do not provide the same
        service.
      </p>
    </div>
    <h1 class="heading1">What we want..?</h1>
    <div class="gallery1">
      <img src="../../assets/project 19.jpg" alt="pic1" />

      <p class="para">
        “We wanted a great way to interact with our employees, providing them
        with a way to send questions to us. Whether it was transactional
        information or less structured requests, such as Employee Relations,
        security issues, investigations or benefits questions, that are a little
        bit more of a back and forth and less straightforward transactional, we
        wanted a platform that enabled employees to interact with HR.
      </p>
    </div>
  </section>
</div>
