<section id="home">
  <h1 class="heading">Archive Your Destination <br />Step In <br />👇</h1>
  <button class="btn" routerLink="/sign-up" routerLinkActive="active">
    Register
  </button>
</section>

<section id="portfolio">
  <h1 class="heading">PORTFOLIO</h1>
  <div class="gallery">
    <img src="../../assets/project.1.jpg" alt="pic1" />
    <img src="../../assets/p.jpg" alt="pic2" />
    <img src="../../assets/project 2.jpg" alt="pic3" />
    <img src="../../assets/project 3.jpg" alt="pic4" />
    <img src="../../assets/project 7.jpg" alt="pic5" />
  </div>
</section>

<section id="services">
  <h1 class="heading">SERVICES</h1>
  <div class="row">
    <div class="box">
      <h1 class="heading">Website Design</h1>
      <p>
        These days, it is very important to design an outstanding website that
        would help you stand apart from the rest and stay way in front of your
        competitors, and the simple free website builders where everything is
        decided for you just aren’t going to cut it. When designing a useful
        website, you must understand that visual design does not define the
        success of a site. Alternatively, usability and utility do. The
        user-centric design has become an industry standard for the most
        productive and successful sites. A real web means a better experience
        for everyone.
      </p>
    </div>
    <div class="box">
      <h1 class="heading">UI/UI<br />Design</h1>
      <p>
        UI stands for User Interface. It is a front-end application view. By
        using the front-end application view, User can interact with the
        application. By using the UI, User can manipulate and control both the
        software and hardware. The UI can be used in many places where the
        digital technologies present like Computer, Mobile, Phones, Cars, Music
        players, etc. UI can be graphical or in text form or in video form. This
        UI helps in creating browser-based User Interface. Enroll today and
        attend UI Technologies Online Training by our real-time expert.
      </p>
    </div>

    <div class="box">
      <h1 class="heading">Digital Marketing</h1>
      <p>
        Marketing leaders are charged with driving organic growth for their
        businesses. This program prepares you to build and execute an integrated
        marketing strategy that aligns your business with consumer needs and
        differentiates it from the competition. Whatever your industry, you will
        emerge with the frameworks, concepts and tools to drive profitable
        growth through a more forward-thinking approach to marketing strategy
        development and implementation.
      </p>
    </div>
  </div>
</section>
