<div class="head">
  <section id="home">
    <figure>
      <div class="min-fig">
        <img src="../../assets/main.png" />
      </div>
      <div>
        <h2 class="main1">Employee Management Portal</h2>
      </div>
      <div>
        <h1 class="main2">
          The power to help<br />
          themselves Grow
        </h1>
      </div>
      <div>
        <h3 class="main3">
          Empower employees with access to personal organisational information.
          Enable greater transparency, improved communication and engagement.
          The portal also enables anytime, anywhere access.
        </h3>
      </div>
      <!-- <img src="../../assets/project 11.jpg" />
        <img src="../../assets/project 13.jpg" /> -->
    </figure>
    <h1 class="heading">Archive Your Destination <br />Step In <br />👇</h1>
    <button class="btn" routerLink="/sign-up" routerLinkActive="active">
      Register
    </button>
  </section>
  <section id="brushup">
    <h1 class="heading1">What is an Employee Portal?👇</h1>
    <div class="gallery1">
      <img src="../../assets/project 17.jpg" alt="pic1" />

      <p class="para">
        An Employee Portal, sometimes known as an HR Portal, is an online
        employee engagement platform that puts a range of HR services at the
        employee’s fingertips. From providing employees with access to helpful
        HR content and self-service functionality that answers their questions,
        to Live Chat and case tracking, an Employee Portal enhances the employee
        service experience, which increases employee satisfaction and engagement
        levels. It is also a communications and change management tool, enabling
        HR to effectively engage with their employees and support the management
        of change and development within the organization. Additional benefits
        include increased workforce productivity and greater efficiency of HR
        operations.
      </p>
    </div>
    <h1 class="heading1">Why is an Employee Portal important👇</h1>
    <div class="gallery1">
      <img src="../../assets/project 2.jpg" alt="pic1" />

      <p class="para">
        Successful businesses strive for long-term sustainable profits. An
        Employee Portal is a tool that HR can use to support this objective, by
        improving the employee experience, employee productivity and retaining
        staff.<br /><br /><br />
        In a Forbes article, entitled Promoting Employee Happiness Benefits
        Everyone, evidence suggests happier and more productive employees
        provide superior customer service, helping drive sales and repeat
        business faster than in organizations that do not provide the same
        service.
      </p>
    </div>
    <h1 class="heading1">What we want?🤙</h1>
    <div class="gallery1">
      <img src="../../assets/project 19.jpg" alt="pic1" />

      <p class="para">
        “We wanted a great way to interact with our employees, providing them
        with a way to send questions to us. Whether it was transactional
        information or less structured requests, such as Employee Relations,
        security issues, investigations or benefits questions, that are a little
        bit more of a back and forth and less straightforward transactional, we
        wanted a platform that enabled employees to interact with HR.
      </p>
    </div>
  </section>

  <section id="portfolio">
    <h1 class="heading">PORTFOLIO</h1>
    <div class="gallery">
      <img src="../../assets/project.1.jpg" alt="pic1" />
      <img src="../../assets/p.jpg" alt="pic2" />
      <img src="../../assets/project 10.jpg" alt="pic3" />
      <img src="../../assets/project 3.jpg" alt="pic4" />
      <img src="../../assets/project 18.jpg" alt="pic5" />
    </div>
  </section>

  <section id="services">
    <h1 class="heading">SERVICES</h1>
    <div class="row">
      <div class="box">
        <h1 class="heading">Website <br />Design</h1>
        <p>
          These days, it is very important to design an outstanding website that
          would help you stand apart from the rest and stay way in front of your
          competitors, and the simple free website builders where everything is
          decided for you just aren’t going to cut it. When designing a useful
          website, you must understand that visual design does not define the
          success of a site. Alternatively, usability and utility do. The
          user-centric design has become an industry standard for the most
          productive and successful sites. A real web means a better experience
          for everyone.
        </p>
      </div>
      <div class="box">
        <h1 class="heading">UI/UI<br />Design</h1>
        <p>
          UI stands for User Interface. It is a front-end application view. By
          using the front-end application view, User can interact with the
          application. By using the UI, User can manipulate and control both the
          software and hardware. The UI can be used in many places where the
          digital technologies present like Computer, Mobile, Phones, Cars,
          Music players, etc. UI can be graphical or in text form or in video
          form. This UI helps in creating browser-based User Interface. Enroll
          today and attend UI Technologies Online Training by our real-time
          expert.
        </p>
      </div>

      <div class="box">
        <h1 class="heading">Digital Marketing</h1>
        <p>
          Marketing leaders are charged with driving organic growth for their
          businesses. This program prepares you to build and execute an
          integrated marketing strategy that aligns your business with consumer
          needs and differentiates it from the competition. Whatever your
          industry, you will emerge with the frameworks, concepts and tools to
          drive profitable growth through a more forward-thinking approach to
          marketing strategy development and implementation.
        </p>
      </div>
    </div>
  </section>
</div>
