<app-home></app-home>
<section>
  <div class="imgBx"><img src="../../assets/project 14.jpg" alt="" /></div>
  <div class="content">
    <div class="formbox">
      <h2>User</h2>
      <form [formGroup]="formgroup">
        <div class="inputbox">
          <input
            type="text"
            placeholder="username"
            formControlName="userlogin"
            class="form-control"
          />
          <span
            class="text-danger"
            *ngIf="
              formgroup.controls['userlogin'].touched &&
              formgroup.hasError('required', 'userlogin')
            "
            >* Email is required!!</span
          >
        </div>
        <div class="inputbox">
          <input
            type="password"
            placeholder="Password"
            formControlName="userpassword"
          />
          <span
            class="text-danger"
            *ngIf="
              formgroup.controls.userpassword.errors &&
              formgroup.controls.userpassword.touched
            "
          >
            <br />Atleast 6 character Password is Required
          </span>
        </div>
        <div class="inputbox">
          <input
            type="submit"
            value="Login"
            routerLink="/userprofile"
            (click)="login(this.formgroup.value)"
          />
        </div>
      </form>
    </div>
  </div>
</section>
