<section>
  <div class="imgBx"><img src="../../assets/project 14.jpg" /></div>
  <div class="content">
    <div class="formbox">
      <h2>User</h2>
      <form [formGroup]="formgroup">
        <div class="inputbox">
          <input
            type="text"
            placeholder="Email"
            formControlName="email"
            class="form-control"
          />
          <span
            class="text-danger"
            *ngIf="
              formgroup.controls['email'].touched &&
              formgroup.hasError('required', 'email')
            "
            >* Email is required!!</span
          >
        </div>
        <div class="inputbox">
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          />
          <span
            class="text-danger"
            *ngIf="
              formgroup.controls.password.errors &&
              formgroup.controls.password.touched
            "
          >
            <br />Atleast 6 character Password is Required
          </span>
        </div>
        <div class="inputbox">
          <input
            type="submit"
            value="Login"
            (click)="login(this.formgroup.value)"
          />
        </div>
        <!-- <p>
          Don't have a account?
          <a routerLink="/sign-up" class="text-primary">Signup</a>
        </p> -->
      </form>
    </div>
  </div>
</section>
