<div class="center" id="login">
  <h1>Admin</h1>
  <form [formGroup]="formgroup">
    <div class="text_field">
      <input
        type="text"
        placeholder="Username"
        formControlName="username"
        class="form-control"
      />
      <span
        class="text-danger"
        *ngIf="
          formgroup.controls['username'].touched &&
          formgroup.hasError('required', 'username')
        "
        >* Name is required!!</span
      >
    </div>
    <div class="text_field">
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <span
        class="text-danger"
        *ngIf="
          formgroup.controls.password.errors &&
          formgroup.controls.password.touched
        "
      >
        <br />Atleast 6 character Password is Required
      </span>
    </div>
    <!-- <div class="pass">Forgot Password?</div> -->
    <input type="submit" value="Login" />
  </form>
</div>
