<app-home></app-home>
<section>
  <div class="imgBx"><img src="../../assets/project 14.jpg" alt="" /></div>
  <div class="content">
    <div class="formbox">
      <h2>Admin</h2>
      <form
        class="myform"
        [formGroup]="adminform"
        (ngSubmit)="alogin(this.adminform.value)"
      >
        <div class="inputbox">
          <input
            type="text"
            placeholder="Username"
            formControlName="username"
            id="adminname"
            class="form-control"
          />
          <span
            class="text-danger"
            *ngIf="
              adminform.controls['username'].touched &&
              adminform.hasError('required', 'username')
            "
            >* Name is required!!</span
          >
        </div>
        <div class="inputbox">
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
            id="password"
            class="form-control"
          />
          <span
            class="text-danger"
            *ngIf="
              adminform.controls.password.errors &&
              adminform.controls.password.touched
            "
          >
            <br />Atleast 6 character Password is Required
          </span>
        </div>
        <div class="inputbox">
          <input type="submit" value="Login" routerLinkActive="active" />
        </div>
        <div class="text-center text-success" *ngIf="successMessage">
          {{ successMessage }}
        </div>
      </form>
    </div>
  </div>
</section>
